version: "3.8"
services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    volumes:            # <--- NEW PART
      - redis-data:/data # <--- Map the vault to the container

volumes:                 # <--- Register the vault
  redis-data:
