apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  type: NodePort  # <--- Exposes the service to the outside world
  selector:
    app: web
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30007 # We force a specific port so it's easy to find
